<nav
  style="
    background-color: black;
    color: white;
    font-family: Raleway;
    align-items: center ;
    height: 80px;
    align-content: center;
    font-weight: bold;
    display: flex;
  "
>
  <p
    routerLink="/home"
    style="margin-left: 100px; cursor: pointer; max-width: min-content"
  >
    Home
  </p>
  <p
    routerLink="/home"
    style="margin-left: 100px; cursor: pointer; max-width: min-content"
  >
    Home
  </p>
  <p
    routerLink="/home"
    style="margin-left: 100px; cursor: pointer; max-width: min-content"
  >
    Home
  </p>
  <p
    routerLink="/home"
    style="margin-left: 100px; cursor: pointer; max-width: min-content"
  >
    Home
  </p>
</nav>
<div class="background">
  <div><h1>SOBRE MIM</h1></div>
</div>
<span class="textosobre"
  >Minha jornada no mundo da tecnologia começou aos 15 anos, atuando como
  técnico de hardware, o que despertou meu interesse por redes e infraestrutura.
  Ao longo da minha carreira, desenvolvi e implementei projetos de automação de
  tarefas em python para empresas voltadas à segurança governamental,
  aprimorando minhas habilidades em soluções de alta complexidade. Hoje, como
  desenvolvedor full-stack, utilizo ferramentas como JavaScript, CSS, HTML,
  Python, NestJS, Vite, React, Angular, entre outras, para criar soluções
  robustas e eficientes.</span
>
<div class="image-container">
  <img
    src="../../assets/images/separar.png"
    alt="Imagem Centralizada"
    class="centralizada"
  />
</div>
<div style="margin-top: 20px">
  <div class="cardssobre">
    <div style="display: flex; flex-direction: column">
      <p class="titulocards">Desenvolvimento</p>
      <span class="textosobre2"
        >Iniciei na área de desenvolvimento em 2023 com Python, criando minha
        primeira aplicação para automação em uma empresa de redes e segurança.
        Atualmente, estou expandindo minhas habilidades em frameworks e
        linguagens como JavaScript, TypeScript, Angular, SQL, Vite e NestJS.
        Embora esteja fascinado pelo backend, também tenho experiência em
        frontend, permitindo-me atuar em ambas as áreas.
      </span>
    </div>
    <div style="display: flex; flex-direction: column">
      <p class="titulocards">Redes & Infraestrutura</p>
      <span class="textosobre2"
        >Servi no Exército Brasileiro como soldado auxiliar da STI, onde adquiri
        sólidos conhecimentos em protocolos de redes e gerenciei a comunicação
        de TI do 23º Batalhão de Caçadores em Fortaleza. Na Howbe, fui
        responsável pela configuração e monitoramento de ativos de redes,
        desenvolvi minha primeira aplicação e, com isso, fui notado pelos
        gestores, o que me ajudou a definir minha área de interesse.</span
      >
    </div>
  </div>

  <div class="cardssobre" style="margin-top: 70px">
    <div style="display: flex; flex-direction: column">
      <p class="titulocards">Manutenção</p>
      <span class="textosobre2"
        >Tenho habilidades abrangentes em manutenção e noçoes de eletrônica e robótica, com domínio em diversos
        tipos de reparos e prática no manuseio de equipamentos como câmeras, DVR's
        notebooks e computadores. Essa experiência me permite lidar
        eficientemente com uma ampla gama de dispositivos tecnológicos.</span
      >
    </div>
  </div>
</div>
