<div class="diagonal-background">
  <div class="container"></div>
  <div class="coluna-esquerda">
    <p class="hi">Olá, eu sou</p>
    <p class="Alexandre">Alexandre</p>
    <p class="AlexandreDesc">Desenvolvedor FullStack</p>
    <!-- Elementos da coluna esquerda aqui -->
    <div style="display: flex">
      <div class="quadradinho">
        <img src="../../assets/images/arroba.png" class="cardsimg" />
      </div>
      <div class="quadradinho" style="margin-left: 80px">
        <img src="../../assets/images/github.png" class="cardsimg" />
      </div>
      <div class="quadradinho" style="margin-left: 80px">
        <img src="../../assets/images/linkedin.png" class="cardsimg" />
      </div>
    </div>
  </div>
  <div class="coluna-direita">
    <div class="texto-navbar">
      <span routerLink="/about" style="cursor: pointer">Sobre Mim</span
      ><span style="cursor: pointer">Habilidades</span
      ><span style="cursor: pointer">Portfólio</span
      ><span class="contato" style="cursor: pointer">Contato</span>
    </div>
    <!-- Elementos da coluna direita aqui -->
  </div>
</div>
